html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Ariel, sans-serif;
  background: #f9f9f9;
  color: #444;
  font-size: 14px;
}

a {
  color: #095faf;
  text-decoration: none;
}

h1, h2, h3, h4 {
  margin-bottom: 20px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
}

h4 {
  font-weight: bold;
  font-size: 16px;
}

button {
  padding: 14px 20px;
  background: #0966ad;
  color: white;
  border: 0;
  border-radius: 6px;
  font-size: 16px;
  font-weight: normal;
  cursor: pointer;
}

.app-container {
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

.surveys-list {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  background-color: #ffffff;
}

.surveys-list li a {
  display: block;
  padding: 15px;
  
  border-bottom: 1px solid #eeeeee;
}

.surveys-list li a:hover {
  background-color: #eeeeee;
}

.question {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.options-list li {
  padding-bottom: 8px;
}

.options-list li label {
  cursor: pointer;
}
